{% extends 'Teacher/teacherindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="283" border="1" cellpadding="4" class="table table-bordered">
{#    <tr>#}
{#      <th colspan="2" scope="col">View Salary  </th>#}
{#    </tr>#}
    <tr>
      <td width="86">Date</td>
      <td width="169">Salary</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.salary }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
